<!DOCTYPE html>
<html>
<head>
  <title>Sea_Kudo的博客</title>
  <!-- Web App Data -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0">

  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <!--        Import Styles-->
  <link rel="stylesheet" href="{{ static_url('content/css/style.css') }}" title="Main CSS" type="text/css" media="screen">
  <!--        =Import Styles-->
</head>

<body>
  <!-- Wrapper -->
  <section id="wrapper">
  </section>
  <!-- =Wrapper -->
  <script type="text/javascript" src="{{ static_url('scripts/vendor/require.js') }}" data-main="{{ static_url('scripts/config') }}"></script>
  {{ handler.settings['analytics'] }}
</body>
</html>
